/* Google Font Import - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

::selection {
    background-color: #4A148C;
    color: #fff;
}

body.dark {
    background-color: #4A148C;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: #e2e2e2;
    transition: all 0.3s ease;
    z-index: 100;
}

.sidebar.close {
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar .menu .menu-links .nav_link_seller {
    height: 30px !important;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 10px;
}

.sidebar .nav_link_seller a:hover {
    background-color: #AB47BC !important;
}

.sidebar .nav_link_seller a:hover .icon,
.sidebar .nav_link_seller a:hover .text {
    color: #ffffff;
}

body.dark .sidebar .nav_link_seller a:hover .icon,
body.dark .sidebar .nav_link_seller a:hover .text {
    color: #fff;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: #060000;
    transition: all 0.2s ease;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 550;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}

header .image-text {
    margin-top: 10px;
}

header .image-text .name {
    font-size: 16px;
    font-weight: 600;
}

header .image-text .profession {
    font-size: 14px;
    margin-top: 0px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: #9C27B0;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark .sidebar header .toggle {
    color: #060000;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 10px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: #F6F5FF;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #F6F5FF;
    color: #060000;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.sidebar li a:hover {
    background-color: #4A148C;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: #FFF;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: #060000;
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: #F6F5FF;
    position: relative;
    transition: all 0.3s ease;
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: #DDD;
    transition: all 0.3s ease;
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #FFF;
    transition: all 0.3s ease;
}

body.dark .switch::before {
    left: 20px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: #060000;
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: #060000;
}

.right-component {
    position: absolute;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.right-component .text {
    font-size: 30px;
    font-weight: 500;
    color: #060000;
    padding: 12px 60px;
}

.sidebar.close ~ .right-component {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .right-component .text {
    color: #060000;
}

.icon img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.mod-above {
    margin: 20px;
    width: 98%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mod-above h2 {
    color: #060000;
}

.mod-above button {
    margin-right: 30px;
    width: 150px;
    height: 40px;
    padding: 10px;
    color: #060000;
    background-color: #FFF;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    border: 2px solid #707070;
    border-radius: 5px;
}

.mod-above button:hover {
    background-color: #A8A8A8;
    color: #060000;
    cursor: pointer;
}

.data-table {
    margin: 10px 20px;
    padding: 20px;
    border-collapse: collapse;
    width: 98%;
}

.data-table th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #060000;
}

.data-table tr:hover {
    background-color: #A8A8A8;
    color: #fff;
}

.add-mod {
    width: 850px;
    height: auto;
    margin-top: 50px;
    margin-left: 220px;
    margin-right: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: #060000;
}

.add-mod-btn {
    height: 40px;
    width: 150px;
    background-color: #F6F5FF;
    border: 2px solid #707070;
    font-weight: 700px;
    font-size: 17px;
    color: #060000;
    border-radius: 5px;
    cursor: pointer;
}

.add-mod-btn:hover {
    cursor: pointer;
    background-color: #A8A8A8;
}

.add-mod-heading {
    margin-bottom: 20px;
}

.add-mod-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.add-mod-form input {
    width: 700px;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px;
}

.data-table-tr a {
    text-decoration: none;
}

.data-table-action {
    display: flex;
    flex-direction: row;
}

.mod-below-delete {
    color: #b30000;
    margin-right: 12px;
}

.mod-below-delete:hover {
    cursor: pointer;
}

.mod-below-edit {
    color: #2eb82e;
}

.mod-below-edit:hover {
    cursor: pointer;
}

.add-mod-invalid {
    color: #b30000;
}

.mod-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 200px;
    height: 40px;
    margin-right: 30px;
}

.mod-select {
    border: none;
    appearance: none;
    padding: 10px;
    width: 100%;
    color: #060000;
    background-color: #F6F5FF;
    font-size: 15px;
}
