body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  .profile-container {
    max-width: 95%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .business-name {
    font-size: 24px;
    font-weight: 600;
    margin-left: 4%;
  }

  .bio-data {
    margin-bottom: 20px;
  }
  
  .form-data {
    display: flex;
  }

  .business-data, .owner-data {
    margin-right: 400px;
  }

  .buttons-container {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
  }

  .buttons-container button {
      margin-right: 40px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .accept-btn {
    background-color: #63e967;
    color: #000000;
  }

  .accept-btn:hover {
    background-color: #2c6e31;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }

  .reject-btn {
    background-color: #f1746b;
    color: #000000;
  }

  .reject-btn:hover {
    background-color: #6e2c2c;
    color: rgb(255, 255, 255);
    transition: 0.3s;
  }

  .photo-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
  }

  .photo-item {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  .photo-item img {
    width: 80%;
    height: 80%;
    object-fit: cover;
  }

  .photo-item:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  /* Lightbox styles */
  .lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }

.status-Pending {
  color: #08a799; /* Change the color to your desired active color */
}

.status-Active {
  color: #50c276; /* Change the color to your desired active color */
}

.status-Rejected {
  color: #d80700; /* Change the color to your desired active color */
}

.status-Deactivated {
  color: #6d00eb; /* Change the color to your desired active color */
}