* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }
  header {
    position: fixed;
    width: 100%;
    /* background-color: rgba(0,0,0,0.2); */
    padding: 3rem 5rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    font-size: 1.8rem;
    text-decoration: none;
  }
  nav a#logo {
    color: #CE93D8;
  }
  nav ul a {
    color: #CE93D8;
  }
  nav ul a:hover {
    border-bottom: 2px solid #CE93D8;
  }
  nav h1 {
    font-size: 6rem;
    color: #CE93D8;
  }
  #ham-menu {
    display: none;
  }
  nav ul.active {
    left: 0;
  }
  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }
    header {
      padding: 2.2rem 5rem;
    }
  }
  /* html {
    font-size: 50%;
  } */
  #ham-menu {
    display: block;
    color: #CE93D8;
  }
  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }
  nav ul {
    background-color: #BA68C8;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 2s;
    gap: 0;
  }
  nav ul li{
    border: 1px solid #CE93D8;
  }
  
  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 65.18px;
      height: calc(100vh - 65.18px);
    }
  }
  
  /* -----form----- */
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:300);
  header a img{
    margin-top: 4px;
  }
  .login-page {
    /* border:1px solid black; */
    width: 50%;
    padding: 8% 0 0;
    margin: auto;
  }
  .login-page .form .login{
    margin-top: -31px;
    margin-bottom: 26px;
  }
  .login-page .form .login .login-header h3{
    font-size: 4rem;
    text-align: center;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 60%;
    margin: 10% auto ;
    padding: 45px;
    /* text-align: center; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 10px 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: linear-gradient(90deg, #9C27B0 15%, #AB47BC 55%, #BA68C8 89%);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin:10px 0;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4A148C;
    text-decoration: none;
  }
  /* .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  } */
  .is-invalid {
    border-color: #dc3545; /* Red border color */
    background-color: #f8d7da; /* Light red background color */
    color: #dc3545; /* Red text color */
  }
  .form .invalid-feedback{
    text-align:left;
    /* border: 1px solid red; */
    color:#dc3545;
    margin:10px 0;
  }
  body {
    background: linear-gradient(90deg, #4A148C 32%, #9C27B0 100%);
  }
  