/* Style the tab links */
.tablink {
    background-color: #f2f2f2;
    float: left;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }
  
  /* Change background color of the active tab link */
  .tablink.active {
    background-color: #4e4e4e;
    color: #f2f2f2;
  }
  

/* Modal Styles */
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4); /* semi-transparent black overlay */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* Adjust width as needed */
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Button Styles */
    .generate-button {
        background-color: #000000;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px; /* Adjust margin as needed */
    }

    .generate-button:hover {
        background-color: #838383;
        color: rgb(0, 0, 0);
        transition: 0.3s;
    }

    .sp-icon {
        background-color: #305edd; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
      }
      
      .sp-icon:hover {
        background-color: #ffffff; /* Darker Green */
      }
      