
.user-info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; /* Make the user-info-box take the full height of the viewport */
    width: calc(100% - 300px); /* Subtract the width of the sidebar from the total width */
    padding: 20px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    overflow-y: auto; /* Add vertical scroll if needed */
}

.graph-container {
    flex: 70%;
    padding: 10px;
}

.user-details {
    flex: 30%;
    padding: 10px;
}

.user-details h2 {
    margin: 0 0 10px 0;
}

.user-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-details ul li {
    margin-bottom: 5px;
}

.user-avatar img {
    margin-left: 90px;
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border-radius: 50%; /* Make the image circular */
    border: 2px solid #fff; /* Add a border around the image */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}


  .main-grid-reports {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid columns */
    grid-gap: 20px; /* Gap between report items */
    padding: 20px; /* Padding for the grid container */
}

.report-item {
    /* Styles for each report item */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styling for specific report items */
.report-item h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.report-item p {
    margin-bottom: 0;
    color: #666;
}

#printButton {
    background-color: #503d00; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* Adjust margin as needed */
    cursor: pointer;
    border-radius: 5px;
}

#printButton:hover {
    background-color: #bbbbbb; /* Darker green */
    color: black;
    transition: 0.3s; /* Smooth transition on hover */
}

#printButton:active {
    background-color: #503d00; /* Pressed color */
    color: white;
    transform: translateY(1px); /* Push button down when clicked */
    box-shadow: 0 1px #666; /* Add shadow to make it look like it's being pressed */
}
