
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, rgba(47,7,68,1) 15%, rgba(128,58,152,1) 55%, rgba(64,7,84,1) 89%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

  .recovery-form {
    margin-top: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    height: 50%;
  }

  h2 {
    text-align: center;
    color: #333;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 8px;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-section {
    display: none;
  }

  #submit-btn {
    background-color: #592c77;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #submit-btn:hover {
    background-color: #aa7ccf;
    color: black;
    transition: 0.3s;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;

}
nav a {
    font-size: 1.8rem;
    text-decoration: none;

}
nav a#logo {
    color: #fff;

}
nav ul a {
    color: #fff;

}
nav ul a:hover {
    border-bottom: 2px solid #fff;
}
nav h1 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
}
#ham-menu {
    display: none;
}
nav ul.active {
    left: 0;
}

header {
  position: fixed;
  width: 98%;
  padding: 1rem 1rem;
}