.form-box{
    border: 1px solid #707070;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:20px;
    border-radius: 10px;
}

.input-box{
    display: grid;
    grid-template-columns: 300px auto;
    padding: 10px;
}

.input-box > input{
    border-radius:5px ;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-box .work-photos{
    display:flex;
    flex-direction:row;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.input-box .work-photos > input{
    padding: 10px;
}

.input-box >textarea{
    border: 1px solid #ccc;
    border-radius: 10px;
}
.hidden{
    display: none;
}
#selection{
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
}
.dropdown {
    width: 200px;
    position: relative;
    display: inline-block;
}

.dropdown .select-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.dropdown .select-box::after {
    content: '\25BC';
    font-size: 12px;
    margin-left: 5px;
}

.dropdown .options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    display: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1;
}

.dropdown .option {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.dropdown .option .checkbox {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}
